a {
    text-decoration: none;
}

@font-face {
    font-family: 'Intro';
    src: url(../fonts/IntroDemo-BlackCAPS900.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url(../fonts/RobotoSlab-Light300.ttf);
    font-weight: 300;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

.header {
    grid-area: 1/1/2/4;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 13%;
}

.button_cart img {
    width: 13%;
}

.button {
    border-radius: 100px;

    font-size: 0.7em;

    background-color: #5222D0;
    color: #FFF;
}

.button,
.main__title,
.main__section h2 {
    font-family: 'Intro', Times, sans-serif;
    font-weight: 900;
}

.main {
    display: contents;
}

.main__title {
    grid-area: 2/1/3/4;

    padding-left: 2%;

    font-size: 1.8em;
}

.main__section {
    padding: 5%;

    font-size: 0.8em;
    line-height: 150%;
}

.main__section_border {
    border: 1px solid #BB2247;
}

.main__section p,
input::placeholder,
.footer {
    font-family: 'RobotoSlab', Times, sans-serif;
    font-weight: 300;
}

.main__picture {
    width: 90%;
}

.main__section_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 0 20% 5% 5%;
    padding: 3% 0 10% 5%;

    background-color: #EC615B;
    color: #FFF;
}

.main__input {
    padding: 3%;
}

.button_subscribe {
    margin-top: 10%;
    padding: 4%;
}

.footer {
    grid-area: 5/1/6/3;
    padding: 5% 5% 0 5%;
}

.footer__section {
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:767px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header__logo {
        width: 30%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
.main__section_input {
    margin: 5%;
    width: 85%;
}
}